Flask==1.1.1
gunicorn==19.9.0
passlib==1.7.0
itsdangerous==1.1.0
jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
Click==7.0
WTForms==2.2.1
matplotlib==3.1.1
numpy==1.17.3
pandas==0.25.3
sklearn==0.0
Flask-MySQLdb==0.2.0
Flask-pymysql==0.2.3
PyMySQL==0.9.3
PyMysqlDB==0.0.2
mysqlclient==1.4.5


